@model microwiki.Models.DocumentCreateViewModel

@{
    ViewBag.Title = "CREATE";
}

<h1>Create Page</h1>

<p>Authenticated as @User.Identity.Name</p>

@using (Html.BeginForm("Create", "Wiki", FormMethod.Post, new object {  }))
{
    <p>@Html.TextBoxFor(x => x.Title)</p>
    <p>@Html.TextBoxFor(x => x.Slug)</p>

    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        @Html.TextAreaFor(x => x.Body, new { id = "wmd-input", @class = "wmd-input" })
    </div>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    
    @Html.HiddenFor(x => x.ParentID)
 
    <p><input type="submit" value="Save"></p>
}
