@model CreateViewModel

@section title {
    <title>Create Document</title>
}

@section css {
    <link rel="stylesheet" href="~/css/codemirror/codemirror.css" />
    <link rel="stylesheet" href="~/css/codemirror/theme/microwiki.css" />
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="@ContentColumnClasses">
        <h1>Create Page</h1>
        <form asp-controller="Wiki" asp-action="Create" method="post">
            <p>Parent: @Model.ParentTitle</p>

            <div class="mb-2">
                <label asp-for="Title" class="form-label">Page Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="mb-2 form-check form-switch">
                <input asp-for="IsPublic" class="form-check-input" />
                <label asp-for="IsPublic" class="form-check-label">Public</label>
                <span asp-validation-for="IsPublic"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Tags" class="form-label">Tags</label>
                <input asp-for="Tags" class="form-control tag-input" />
                <span asp-validation-for="Tags"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Slug" class="form-label">Url Slug</label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug"></span>
                <small class="form-text text-muted">If blank, this will be generated automatically from the title.</small>
            </div>

            <div class="mb-2 mt-4">
                <editor asp-for="Body" />
            </div>

            <input asp-for="ParentTitle" type="hidden" />
            <input asp-for="ParentID" type="hidden" />

            <div class="mt-4 mb-2">
                <button type="submit" class="@SaveButtonClasses"><i class="bi-save2-fill"></i> Save Page</button>
            </div>
        </form>
    </div>
    <div class="@ActionColumnClasses">
        <div class="d-grid gap-2">
            <a asp-controller="Files" asp-action="Upload" target="_blank" class="@ActionButtonClasses">Upload File</a>
        </div>
    </div>
</div>

@section globals {
    <script>
        var _ALL_TAGS = @Html.Raw(Model.TagDataJson);
    </script>
}

@section modals {
    @{ await Html.RenderPartialAsync("_EditorCodeBlockDialog"); }
    @{ await Html.RenderPartialAsync("_EditorLinkDialog"); }
    @{ await Html.RenderPartialAsync("_EditorImageDialog"); }
}

@section scripts {
    <script src="~/js/dist/edit.js" asp-append-version="true"></script>
}
