@model CreateViewModel

@section title {
    <title>Create Document</title>
}

@section css {
    <link rel="stylesheet" href="~/css/codemirror/codemirror.css" />
    <link rel="stylesheet" href="~/css/codemirror/theme/microwiki.css" />
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="@ContentColumnClasses">
        <h1>Create Page</h1>
        <form asp-controller="Wiki" asp-action="Create" method="post">
            <p>Parent: @Model.ParentTitle</p>

            <div class="form-group">
                <label asp-for="Title">Page Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsPublic" class="form-check-input" />
                <label asp-for="IsPublic">Public?</label>
                <span asp-validation-for="IsPublic"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags">Tags</label>
                <input asp-for="Tags" class="form-control tag-input" />
                <span asp-validation-for="Tags"></span>
            </div>

            <div class="form-group">
                <label asp-for="Slug">Url Slug</label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug"></span>
                <small class="form-text text-muted">If blank, this will be generated automatically from the title.</small>
            </div>

            <div class="form-group">
                <editor asp-for="Body" />
            </div>

            <input asp-for="ParentID" type="hidden" />

            <input asp-for="ParentTitle" type="hidden" />

            <div class="form-group form-group-submit">
                <button type="submit" class="@SaveButtonClasses"><i class="fa fa-floppy-o"></i> Save Page</button>
            </div>
        </form>
    </div>
    <div class="@ActionColumnClasses">
        <p><a asp-controller="Files" asp-action="Upload" target="_blank" class="@ActionButtonClasses">Upload File</a></p>

        <form asp-controller="Files" asp-action="Upload" class="dropzone"></form>
    </div>
</div>

@section globals {
    <script>
        var _ALL_TAGS = @Html.Raw(Model.TagDataJson);
    </script>
}

@section modals {
    @{ await Html.RenderPartialAsync("_EditorCodeBlockDialog"); }
    @{ await Html.RenderPartialAsync("_EditorLinkDialog"); }
    @{ await Html.RenderPartialAsync("_EditorImageDialog"); }
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js" integrity="sha256-rP/7cD6sF9Rey5N+nwEgClCdovR+NIuUxWMkyqak9vU=" crossorigin="anonymous"></script>
    <script src="~/js/dist/edit.js" asp-append-version="true"></script>
}
