@model microwiki.Models.DocumentReadViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-9">
        <h1>@Model.Title</h1>
        @Html.Raw(Model.Body)
    </div>

    <div class="col-md-3">
        <h1>Actions</h1>
        <p>@Html.ActionLink("Edit This Page", "Update", new { id = Model.ID }, new { @class = "btn btn-default btn-block" })</p>

        @if (Model.ID != Model.ParentID)
        {
            <p><a href="#document-move-modal" data-toggle="modal" data-target="#document-move-modal" class="btn btn-default btn-block">Move This Page</a></p>
        }

        <p>@Html.ActionLink("Add A New Child Page", "Create", new { parentID = Model.ID }, new { @class = "btn btn-default btn-block" })</p>

        @if (Model.ID != Model.ParentID)
        {
            using (Html.BeginForm("Delete", "Wiki", FormMethod.Post))
            {
                <p>
                    @Html.HiddenFor(x => x.ID)
                    <button class="btn btn-default btn-block delete">Delete This Page</button>
                </p>
            }
        }

        @if (Model.Children != null && Model.Children.Count > 0)
        {
            <h1>Child Pages</h1>
            <ul class="child-pages">
                @foreach (var child in Model.Children)
                {
                    <li><span class="glyphicon glyphicon-file"></span><a href="@child.Location">@child.Title</a></li>
                }
            </ul>
        }
    </div>
</div>

<!-- Move Page Modal -->
<div class="modal" id="document-move-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Move Page</h2>
            </div>
            <div class="modal-body">
                <p>Click on the page you want to move '<strong>@Model.Title</strong>' to:</p>
                @{ Html.RenderAction("WikiTreeView", "Wiki", new { id = Model.ID }); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
