@model microwiki.Models.DocumentReadViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">

    <div class="col-md-9">
        <h1>@Model.Title</h1>
        @Html.Raw(Model.Body)
    </div>

    <div class="col-md-3">
        <h1>Actions</h1>
        <p>@Html.ActionLink("Edit This Page", "Update", new { id = Model.ID }, new { @class = "btn btn-default btn-block" })</p>
        <p>@Html.ActionLink("Add A New Child Page", "Create", new { parentID = Model.ID }, new { @class = "btn btn-default btn-block" })</p>
        @if(Model.Children != null && Model.Children.Count > 0)
        { 
            <h1>Child Pages</h1>
            <ul class="child-pages">
            @foreach(var child in Model.Children)
            {
                <li><span class="glyphicon glyphicon-file"></span><a href="@child.Location">@child.Title</a></li>
            }
            </ul>
        }
    </div>

</div>

