@model ReadViewModel

@section title {
    <title>@Model.Title</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <h1>@Model.Title</h1>

        @if (Model.Tags.Any())
        {
            <tag-links tags="Model.Tags" />
        }
    </div>
</div>

<div class="row">
    <div class="@ContentColumnClasses">
        @Html.Raw(Model.Body)

        @if (Model.Children.Any())
        {
            <ul class="toc">
                @foreach (var child in Model.Children.Where(c => c.IsPublic || User.Identity.IsAuthenticated))
                {
                    <li><a href="@child.Location">@child.Title</a> &raquo;</li>
                }
            </ul>
        }
        <p class="document-meta-data">Created on @Model.Created.ToString("dd/MM/yyyy HH:mm") | Last update @Model.Updated.ToString("dd/MM/yyyy HH:mm") by @Model.Username</p>
    </div>
    <div class="@ActionColumnClasses">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-grid gap-2">
                @Html.ActionLink("Edit This Page", "Update", new { id = Model.ID }, new { @class = ActionButtonClasses })

                @Html.ActionLink("New Child Page", "Create", new { parentID = Model.ID }, new { @class = ActionButtonClasses })

                @if (!Model.IsRootDocument)
                {
                    <a id="move-document-button" href="#move-document-modal" data-id="@Model.ID" data-title="@Model.Title" class="@ActionButtonClasses">Move This Page</a>
                }
            </div>

            @if (!Model.IsRootDocument)
            {
                <form asp-controller="Wiki" asp-action="Delete" method="post" class="mt-4 d-grid gap-2">
                    @Html.HiddenFor(x => x.ID)
                    <button class="@DeleteButtonClasses delete-page" data-pagetitle="@Model.Title">Delete This Page</button>
                </form>
            }
        }
    </div>
</div>

@section modals {
    <div class="modal" id="move-document-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/dist/read.js" asp-append-version="true"></script>
}
