@model microwiki.Models.DocumentUpdateViewModel

@{
    ViewBag.Title = "Update " + Model.Title;
}

<h1>Update @Model.Title</h1>

@using (Html.BeginForm("Update", "Wiki", FormMethod.Post, new object { }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    if (Model.IsRoot)
    {
        @Html.HiddenFor(x => x.Slug)
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Slug)
            @Html.TextBoxFor(x => x.Slug, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Slug)
        </div>
    }

    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        @Html.TextAreaFor(x => x.Body, new { id = "wmd-input", @class = "wmd-input" })
    </div>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.IsRoot)
    @Html.HiddenFor(x => x.ParentID)

    <div class="form-group form-group-submit">
        <input type="submit" class="btn btn-primary" value="Save Page">
    </div>
}