@model UploadViewModel

@section title {
    <title>Upload File</title>
}

<div class="row">
    <div class="col-12">
        <h1>Upload File</h1>

        @using (Html.BeginForm("Upload", "Wiki", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.UploadedFile)

                <div class="input-group file-input-group col-md-4">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse… <input type="file" name="UploadedFile" id="UploadedFile">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly="">
                </div>
            </div>

            <div class="form-group form-group-submit">
                <input type="submit" class="btn btn-primary" value="Upload File">
            </div>
        }

        @if (Model.UploadedFileName != null)
        {
            <p>Uploaded File Name: <strong>@Model.UploadedFileName</strong></p>
        }

        <div class="upload-thumbnails">
            @foreach (var file in Model.Files)
            {
                <div class="row">
                    <div class="col-md-1">
                        @if (file.IsImageFile())
                        {
                            <a href="@file" class="thumbnail" target="_blank">
                                <img src="@file" />
                            </a>
                        }
                        else
                        {
                            <a href="@file" class="thumbnail file" target="_blank">
                                <span class="glyphicon glyphicon-file"></span>
                            </a>
                        }
                    </div>
                    <div class="col-md-10">
                        <strong>@file</strong>
                    </div>
                    <div class="col-md-1">
                        @using (Html.BeginForm("DeleteUpload", "Wiki", FormMethod.Post))
                        {
                            <input type="hidden" name="Location" value="@file" />
                            <input type="submit" value="Delete" class="btn btn-default delete-upload" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
