@model FileListViewModel

@section title {
    <title>Upload File</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <h1>All Files</h1>

        @if (Model.FileUrls.Any())
        {
            <table class="table table-condensed upload-thumbnails">
                <tbody>
                    @foreach (var url in Model.FileUrls)
                    {
                        <tr>
                            <td>
                                @if (url.IsImage())
                                {
                                    <a href="@url" class="thumbnail" target="_blank">
                                        <img src="@url" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@url" class="thumbnail file fs-1" target="_blank">
                                        <span class="bi bi-file-earmark-text"></span>
                                    </a>
                                }
                            </td>
                            <td>
                                <strong>@Uri.UnescapeDataString(url)</strong>
                            </td>
                            <td>
                                <form asp-controller="Files" asp-action="DeleteUpload" method="post">
                                    <input type="hidden" name="Url" value="@url" />
                                    <input type="submit" value="Delete" class="@DeleteButtonClasses delete-upload" data-filename="@Uri.UnescapeDataString(url)" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/dist/upload.min.js" asp-append-version="true"></script>
}
