@model UploadViewModel

@section title {
    <title>Upload File</title>
}

@{ await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailData); }

<div class="row">
    <div class="col">
        <h1>Upload File</h1>

        <form asp-controller="Files" asp-action="Upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="UploadedFile" class="form-label">Please select a file</label>
                <input asp-for="UploadedFile" class="form-control" type="file">
            </div>

            <div class="mt-4 mb-2">
                <button type="submit" class="btn btn-primary"><i class="bi-cloud-arrow-up-fill"></i> Upload File</button>
            </div>
        </form>

        @if (Model.UploadedFileName != null)
        {
            <p>Uploaded File Name: <strong>@Model.UploadedFileName</strong></p>
        }

        @if (Model.Files.Any())
        {
            <table class="table table-condensed upload-thumbnails">
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>
                                @if (file.IsImageFile())
                                {
                                    <a href="@file" class="thumbnail" target="_blank">
                                        <img src="@file" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@file" class="thumbnail file fs-1" target="_blank">
                                        <span class="bi bi-file-earmark-text"></span>
                                    </a>
                                }
                            </td>
                            <td>
                                <strong>@file</strong>
                            </td>
                            <td>
                                <form asp-controller="Files" asp-action="DeleteUpload" method="post">
                                    <input type="hidden" name="Location" value="@file" />
                                    <input type="submit" value="Delete" class="@DeleteButtonClasses delete-upload" data-filename="@(file)" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/dist/upload.min.js" asp-append-version="true"></script>
}
