@model microwiki.Web.Models.DocumentViewModel

@{
    ViewBag.Title = @Model.Location.Title() + " - MAB MicroWiki";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section controls {

    <div id="control-bar">
        <p>
            <span id="page-title">@Model.Location.Title()</span>
            <span id="page-controls">
                Created: @Model.Created.ToString("dd/MM/yyyy hh:mm") | 
                Last Edit: @Model.LastEdited.ToString("dd/MM/yyyy hh:mm") | 
                <a href="/edit@(Request.Url.AbsolutePath)" class="edit-link">Edit this page</a> | 
                <a href="/new" class="add-link">Add a new page</a>
            </span>
        </p>
    </div>
}

@section content {

    <div id="navigation-bar">

        <p id="breadcrumb-trail">@Request.Url.AbsolutePath.Breadcrumb()</p>

    </div>

    <div id="content">

        @if(Model.Children != null && Model.Children.Count > 0) {

        <div id="children">

            <ul>

            @foreach(var child in Model.Children)
            {
                <li><a href="@child.Location.Substring(5)">@child.Location.Title()</a></li>
            }

            </ul>

        </div>

        }
            
        @Html.Raw(Model.Body)

    </div>

}

@section footer {

}