@model microwiki.Web.Models.DocumentViewModel

@{
    ViewBag.Title = @Model.Title + " - MAB MicroWiki";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section content {

    <div id="content">
        @Html.Raw(Model.Body)
    </div>

}

@section footer {

    <p>Created on: @Model.Created.ToString("dd/MM/yyyy") | Last Edited: @Model.LastEdited.ToString("dd/MM/yyyy") | <a href="@Request.Url.AbsolutePath" class="edit-link">Edit this page</a></p>

}