@using System.Security.Claims
@using Microsoft.Extensions.Options
@using MicroWiki.Support

@inject IOptionsMonitor<Settings> _cfg

@{
    var configuration = _cfg.CurrentValue;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">

    @RenderSection("title")

    <link rel="stylesheet" href="~/css/dist/main.min.css" />

    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-route="read" asp-route-location="/">@configuration.ApplicationTitle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Wiki" asp-action="Contents">Contents</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tags" asp-action="Index">All Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tags" asp-action="Manage">Manage Tags</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ms-lg-4">
                            <span class="nav-link active">@User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Users" asp-action="Logout">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Users" asp-action="Login">Log In</a>
                        </li>
                    }
                </ul>
                <form class="d-flex flex-column d-lg-flex flex-lg-row">
                    <input class="form-control me-2 mb-2 mb-lg-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("modals", required: false)

    @RenderSection("globals", required: false)

    @RenderSection("scripts", required: false)
</body>
</html>
