@model SearchResultsViewModel

@section title {
    <title>Search Results</title>
}

@{
    await Html.RenderPartialAsync("_BreadcrumbTrail", Model.BreadcrumbTrailViewModel); 
}

<div class="row">
    <div class="col">
        <h1>Search results for '@Model.Query'</h1>

        <hr />

        @foreach (var result in Model.SearchResults)
        {
            <h2><a href="@result.Location">@result.Title</a></h2>

            if (result.Tags.Any())
            {
                <p>
                    @foreach (var tag in result.Tags)
                    {
                        <span class="badge badge-primary">@tag.Label</span>
                    }
                </p>
            }

            <p>@Html.Raw(result.Summary ?? "<i>Page has no body text</i>")</p>
        }
    </div>
</div>
